// DetailPost.module.scss

.DetailContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  min-width: 50vh;
  max-width: 1100px;
  width: 130vh;
  padding: 0px 0px 30px;
  margin: 0px auto;
  background-color: #fff;
  font-family: 'Arial', sans-serif;
  border-collapse: collapse;
  border-bottom: 1px solid #9e9e9e;

  @media (max-width: 768px) {
    width: 90vw;
    margin: 50px auto;
  }

  @media (max-width: 480px) {
    width: 95vw;
    padding: 15px;
    margin: 20px auto;
  }
}

.ParentContainer {
  position: relative;
  width: 100%;
  max-width: 1100px;
  margin: 20px auto; 
}

.PostHeader {
  width: 95%;
  border-bottom: 1px solid #eee;
  border-top: 1px solid #9e9e9e;
  padding: 0px 30px 13px;
  background-color: #DEECF0;
  color: #000; 

  @media (max-width: 480px) {
    padding: 5px;
  }
}

.PostTitle {
  font-size: 24px;
  margin-bottom: 10px;
  font-weight: 400;

  @media (max-width: 480px) {
    font-size: 20px;
    margin-bottom: 5px;
  }
}

.PostMeta {
  font-size: 14px;
  color: #777;
  display: flex;
  justify-content: space-between;

  @media (max-width: 480px) {
    flex-direction: column;
    gap: 5px;
  }
}

.PostContent {
  margin: 20px 50px 30px 100px;
  padding: 10px 0px 30px 20px;
  width: 100%;
  line-height: 1.6;
  border-bottom: 1px solid #dcdcdc;

  @media (max-width: 480px) {
    padding: 10px;
  }
  
  img {
    max-width: 100%;
    height: auto;
    display: block;
    margin: 0 auto;
  }
}

.ButtonContainer {
  margin-top: 20px;
  display: flex;
  gap: 10px;
  justify-content: flex-end;
  
  @media (max-width: 480px) {
    flex-direction: column;
    width: 100%;
    justify-content: center;
  }
}

.DeleteButton,
.EditButton,
.ReportButton,
.ConfirmButton,
.CancelButton {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 6px 16px;
  margin-left: 8px;
  width: 80px;
  height: 32px;
  font-size: 14px;
  text-align: center;
  color: #666;
  background: white;
  border: 1px solid #ddd;
  border-radius: 2px;
  cursor: pointer;

  &:hover {
    background-color: #e0e0e0;
  }

  @media (max-width: 480px) {
    padding: 8px 16px;
    font-size: 14px;
  }
}

.ImageContainer {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  margin-top: 20px;
}

.PostImage {
  max-width: 100%;
  height: auto;
  border: 1px solid #c3c3c3;
  border-radius: 5px;
  object-fit: contain;  // 이미지 크기를 일정하게 조정
}
