/* @font-face {
  font-family: 'Goorm Sans';
  src: url('https://statics.goorm.io/fonts/GoormSans/v1.0.0/GoormSans.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: 'Goorm Sans';
  src: url('https://statics.goorm.io/fonts/GoormSans/v1.0.0/GoormSans.woff2') format('woff2');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Goorm Sans';
  src: url('https://statics.goorm.io/fonts/GoormSans/v1.0.0/GoormSans.woff2') format('woff2');
  font-weight: 700;
  font-style: normal;
}
 */

 @font-face {
   font-family: 'goorm-sans-regular';
   src: url('./fonts/goorm-sans-regular.ttf') format('truetype');
   font-style: normal;
   font-weight: normal;
 }

 * {
   font-family: 'goorm-sans-regular', sans-serif;
 }