@font-face {
  font-family: 'goorm-sans-regular';
  src: url('./fonts/goorm-sans-regular.ttf') format('truetype');
  font-style: normal;
  font-weight: normal;
}

* {
  font-family: 'goorm-sans-regular', sans-serif;
}

/* @font-face {
  font-family: "Goorm Sans", sans-serif;
  font-weight: 400;
  src: url('https://statics.goorm.io/fonts/GoormSans/v1.0.0/GoormSans.min.css') format('woff2');
  font-style: normal;
} */
