@font-face {
  font-family: 'goorm-sans-bold';
  src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/2408@1.0/goorm-sans-bold.woff2') format('woff2');
  font-style: normal;
}

* {
  font-family: 'goorm-sans-bold', sans-serif;
  font-weight: 400;
}


.container {
  background-color: #FFDE95;
  background-size: cover;
  background-position: center;
  height: 100vh;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}