@import 'react-calendar/dist/Calendar.css';

.react-calendar__tile--weekend {
  color: inherit; /* 기본 주말 색상을 초기화 */
}

.react-calendar__month-view__days__day:nth-child(7n+1) .react-calendar__tile {
  color: blue !important; /* 주마다 첫번째 일요일을 기준으로 7번째 칸마다 적용 */
}

.calendar-page {
  display: flex;
  flex-direction: row;
  font-size: .875rem;
  padding: .625rem;
  height: auto;
  
  .calendar-sidebar {
    width: 250px; // 사이드바 크기 조정
    margin-right: 20px;
    
    .react-calendar {
      width: 100%;
      border: none;
      max-height: 25rem;
      overflow-y: auto;
    }
  }
  
  .calendar-content {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
  
    .selected-date {
      margin-bottom: 20px;
      h2 {
        font-size: 1.5em;
        margin: 0;
      }
    }

    .date-data {
      h3 {
        margin-top: 0;
      }
    }
  }
}
  