.floating-button {
  position: fixed;
  bottom: 20px;
  right: 20px;
  width: 60px;
  height: 60px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 18px;
  cursor: pointer;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  transition: background-color 0.3s ease;

  &:hover {
    background-color: #0056b3;
  }
}

.chat-window {
  position: fixed;
  bottom: 90px;
  right: 20px;
  width: 350px;
  height: 600px;
  background-color: white;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  border-radius: 8px;
  display: flex;
  flex-direction: column;
}

.chat-list-header,
.chat-room-header {
  background-color: #007bff;
  color: white;
  padding: 5px 10px; // 패딩 줄이기
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  height: 40px; // 높이 줄이기
}

.chat-room-header {
  h2 {
    flex: 1;
    text-align: center;
    margin: 0;
    padding-left: 30px; // 뒤로가기 버튼과 겹치지 않도록 패딩 추가
  }

  .header-spacer {
    width: 30px; // 뒤로가기 버튼과 동일한 너비
  }
}

.chat-room {
  flex: 1;
  display: flex;
  flex-direction: column;
  overflow: hidden; // 자식 요소가 채팅창을 벗어나지 않도록 설정
}

.chat-body,
.chat-messages {
  flex: 1;
  padding: 10px;
  overflow-y: auto;

  &::-webkit-scrollbar { // WebKit
    width: 0;
    height: 0;
  }
}

.chat-messages {
  scrollbar-width: none; // Firefox
  -ms-overflow-style: none; // Internet Explorer 10+
}

.chat-message {
  display: flex;
  margin-bottom: 10px;
  position: relative;

  &.left {
    justify-content: flex-start;
    
    .others-message {
      max-width: 65%; // 최대 너비를 설정
    }

    .message-content {
      background-color: #f1f1f1;
      color: #000;
      align-self: flex-start;
      margin-right: 5px;
      max-width: 100%; // 최대 너비를 설정
      word-wrap: break-word; // 단어가 길 경우 줄바꿈을 허용
      overflow-wrap: break-word; // 단어가 길 경우 줄바꿈을 허용
      padding: 7px;
    }

    .message-info {
      align-items: flex-start;
      display: flex;
      margin-top: auto; // 가장 아래로 정렬
      
      .unread-count {
        visibility: hidden;
      }
    }
  }

  &.right {
    justify-content: flex-end;

    .message-content {
      background-color: #007bff;
      color: #fff;
      align-self: flex-end;
      margin-left: 5px;
      max-width: 60%; // 최대 너비를 설정
      word-wrap: break-word; // 단어가 길 경우 줄바꿈을 허용
      overflow-wrap: break-word; // 단어가 길 경우 줄바꿈을 허용
      padding: 7px;
    }

    .message-info {
      align-items: flex-end;
      margin-left: auto;
      margin-top: auto; // 가장 아래로 정렬
      
    }
  }

  &.system .message-content {
    background-color: #e0e0e0fa;
    color: #000;
    align-self: center;
    margin: 0 auto;
    font-size: 10px; // 크기 줄이기
    padding: 3px 6px; // 패딩 줄이기
  }

  .message-content {
    padding: 8px 12px; // 크기 줄이기
    border-radius: 8px;
    max-width: 70%;
    font-size: 13px; // 텍스트 크기 줄이기
  }

  .message-info {
    color: #999;
    display: flex;
    flex-direction: column;
    margin-top: 5px; // 메시지와의 간격 조정

    .unread-count {
      font-size: 11px;
      color: #007bff; // 내가 보낸 채팅 말풍선 색과 동일하게 설정
    }

    .message-time {
      font-size: 12px;
      color: #292929;
    }
  }

  .message-username {
    font-size: 12px;
    margin-bottom: 5px;
    margin-left: 3px;
  }
}

.chat-footer {
  padding: 10px;
  border-top: 1px solid #ddd;
  display: flex;
  align-items: center;
  background: white;

  input {
    flex: 1;
    padding: 8px;
    margin-right: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
  }

  button {
    padding: 8px 12px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;

    &:hover {
      background-color: #0056b3;
    }
  }
}

.close-button,
.back-button {
  background: none;
  border: none;
  color: white;
  font-size: 20px;
  cursor: pointer;
}

.chat-nav {
  display: flex;
  justify-content: space-around;
  padding: 10px;
  border-top: 1px solid #ddd;

  button {
    flex: 1;
    padding: 10px;
    border: none;
    background: none;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease;

    &:hover {
      background-color: #f1f1f1;
    }

    &.active {
      background-color: #e1e1e1;
    }
  }
}

.chat-room-list {
  list-style: none;
  padding: 0;
  margin: 0;

  li {
    display: flex;
    align-items: center;
    padding: 10px;
    border-bottom: 1px solid #ddd;
    cursor: pointer;
    transition: background-color 0.3s ease;

    &:hover {
      background-color: #f9f9f9;
    }
  }
}

.chat-room-image {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin-right: 10px;
}

.chat-room-info {
  flex: 1;

  .chat-room-name {
    font-weight: bold;
  }

  .chat-room-last-message {
    font-size: 0.9em;
    color: #666;
  }
}

//모달창
.modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: white;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);

  h2 {
    margin-top: 0; // 제목과 내용 사이의 간격을 줄이기 위해 추가
  }

  .modal-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;

    .modal-buttons {
      margin-top: 20px; // 버튼과 내용 사이의 간격을 조절
      display: flex;
      gap: 10px; // 버튼 사이의 간격을 조절
    }

    .cancel-button {
      padding: 8px 12px;
      background-color: #6c757d; // 진한 회색
      color: white;
      border: none;
      border-radius: 4px;
      cursor: pointer;

      &:hover {
        background-color: #5a6268;
      }
    }

    .confirm-button {
      padding: 8px 12px;
      background-color: #007bff; // 채팅 헤더와 같은 색상
      color: white;
      border: none;
      border-radius: 4px;
      cursor: pointer;

      &:hover {
        background-color: #0056b3;
      }
    }
  }
}

//모달 클릭 시 배경설정
.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  // background: rgba(0, 0, 0, 0.5);
}

.create-open-chat-button {
  width: 35%;
  height: 6%;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 10px;
  font-size: 13px;
  cursor: pointer;
  text-align: center;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  transition: background-color 0.3s ease;
  position: sticky; /* 고정 위치 설정 */
  bottom: 0; /* 하단에 고정 */
  left: 50%; /* 좌측에 고정 */
  transform: translateX(-50%); /* 중앙 정렬을 위해 변환 */

  &:hover {
    background-color: #0056b3;
  }
}

