.floating-button {
  position: fixed;
  bottom: 20px;
  right: 20px;
  width: 60px;
  height: 60px;
  background-color: #699732;
  color: white;
  border: none;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  transition: background-color 0.3s ease;

  &:hover {
    background-color: #52722b;
  }
}

.floating-button-icon {
  width: 32px; /* 아이콘 크기 */
  height: 32px;
  filter: brightness(0) invert(1); /* 이미지를 흰색으로 변경 */
}

.chat-window {
  position: fixed;
  bottom: 90px;
  right: 20px;
  width: 350px;
  height: 600px;
  background-color: white;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  border-radius: 8px;
  display: flex;
  flex-direction: column;
}

.chat-list-header,
.chat-room-header {
  background-color: #699732;
  color: white;
  padding: 5px 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  height: 40px;
}

.chat-room-header {
  h2 {
    flex: 1;
    text-align: center;
    margin: 0;
    padding-left: 30px;
  }

  .header-spacer {
    width: 30px;
  }
}

.chat-room {
  flex: 1;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}
.chat-body {
  animation: slide-up 0.5s ease-in-out;
}

.chat-body,
.chat-messages {
  flex: 1;
  padding: 10px;
  overflow-y: auto;

  &::-webkit-scrollbar {
    width: 0;
    height: 0;
  }
}

.chat-messages {
  scrollbar-width: none;
  -ms-overflow-style: none;
}

.chat-message {
  display: flex;
  margin-bottom: 10px;
  position: relative;

  &.left {
    justify-content: flex-start;

    .others-message {
      max-width: 65%;
    }

    .message-content {
      background-color: #f1f1f1;
      color: #000;
      align-self: flex-start;
      margin-right: 5px;
      max-width: 100%;
      word-wrap: break-word;
      overflow-wrap: break-word;
      padding: 7px;
    }

    .message-info {
      align-items: flex-start;
      display: flex;
      margin-top: auto;

      .unread-count {
        visibility: hidden;
      }
    }
  }

  &.right {
    justify-content: flex-end;

    .message-content {
      background-color: #699732;
      color: #fff;
      align-self: flex-end;
      margin-left: 5px;
      max-width: 60%;
      word-wrap: break-word;
      overflow-wrap: break-word;
      padding: 7px;
    }

    .message-info {
      align-items: flex-end;
      margin-left: auto;
      margin-top: auto;
    }
  }

  &.system .message-content {
    background-color: #e0e0e0fa;
    color: #000;
    align-self: center;
    margin: 0 auto;
    font-size: 10px;
    padding: 3px 6px;
  }

  .message-content {
    padding: 8px 12px;
    border-radius: 8px;
    max-width: 70%;
    font-size: 13px;
  }

  .message-info {
    color: #999;
    display: flex;
    flex-direction: column;
    margin-top: 5px;

    .unread-count {
      font-size: 11px;
      color: #699732;
    }

    .message-time {
      font-size: 12px;
      color: #292929;
    }
  }

  .message-username {
    font-size: 12px;
    margin-bottom: 5px;
    margin-left: 3px;
  }
}

.chat-footer {
  padding: 10px;
  border-top: 1px solid #ddd;
  display: flex;
  align-items: center;
  background: white;

  input {
    flex: 1;
    padding: 8px;
    margin-right: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
  }

  button {
    padding: 8px 12px;
    background-color: #699732;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;

    &:hover {
      background-color: #0056b3;
    }
  }
}

.close-button,
.back-button {
  background: none;
  border: none;
  color: white;
  font-size: 20px;
  cursor: pointer;
}

.chat-nav {
  display: flex;
  justify-content: space-around;
  background-color: white; /* 버튼 배경색 흰색으로 고정 */

  button {
    flex: 1;
    padding: 10px;
    border: none;
    background: none;
    cursor: pointer;
    font-size: 16px;
    transition: color 0.3s ease; /* 텍스트 색상만 변하도록 설정 */

    display: flex;
    flex-direction: column;
    align-items: center;
    color: #888888; /* 기본 텍스트 색상 회색 */

    &:hover {
      color: #000000; /* 마우스 오버 시 텍스트 색상 검정으로 변경 */
      
      img {
        filter: brightness(0) invert(0) grayscale(0); /* 마우스 오버 시 이미지 색상 검정으로 변경 */
      }
    }

    &.active {
      color: #000000; /* 활성화된 탭 텍스트 색상 검정 */
      
      img {
        filter: brightness(0) invert(0) grayscale(0); /* 활성화된 탭 이미지 색상 검정 */
      }
    }
  }

  img.nav-icon {
    width: 24px;
    height: 24px;
    margin-bottom: 5px;
    filter: brightness(0) invert(0.5) grayscale(1); /* 기본 상태에서 이미지 회색 */
  }

  span {
    font-size: 12px;
    color: #888888; /* 기본 텍스트 색상 회색 */
  }
}



.chat-room-list {
  list-style: none;
  padding: 0;
  margin: 0;
  animation: slide-up 0.5s ease-in-out; // 애니메이션 적용

  li {
    display: flex;
    align-items: center;
    padding: 10px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    border-radius: 8px;
    position: relative;

    &:hover {
      background-color: #dddddd;

      .leave-button {
        display: block;
      }
    }
  }
}

@keyframes slide-up {
  0% {
    transform: translateY(20px); // 시작 위치를 아래로 설정
    opacity: 0; // 시작 투명도를 0으로 설정
  }
  100% {
    transform: translateY(0); // 원래 위치로 이동
    opacity: 1; // 최종 투명도를 1로 설정
  }
}

.chat-room-image {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin-right: 10px;
}

.leave-button {
  display: none;
  position: absolute;
  right: 10px;
  background-color: #ff4d4d;
  color: white;
  border: none;
  border-radius: 4px;
  padding: 5px 10px;
  cursor: pointer;
  font-size: 12px;

  &:hover {
    background-color: #ff1a1a;
  }
}

.chat-room-info {
  flex: 1;

  .chat-room-name {
    font-weight: bold;
  }

  .chat-room-last-message {
    font-size: 0.9em;
    color: #666;
  }
}

//모달창
.modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: white;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  z-index: 100;

  h2 {
    margin-top: 0;
  }

  .modal-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;

    .modal-buttons {
      margin-top: 20px;
      display: flex;
      gap: 10px;
    }

    .cancel-button {
      padding: 8px 12px;
      background-color: #6c757d;
      color: white;
      border: none;
      border-radius: 4px;
      cursor: pointer;

      &:hover {
        background-color: #5a6268;
      }
    }

    .confirm-button {
      padding: 8px 12px;
      background-color: #699732;
      color: white;
      border: none;
      border-radius: 4px;
      cursor: pointer;

      &:hover {
        background-color: #0056b3;
      }
    }
  }
}

//모달 클릭 시 배경설정
.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.create-open-chat-button {
  width: 35%;
  height: 6%;
  background-color: #699732;
  color: white;
  border: none;
  border-radius: 10px;
  font-size: 13px;
  cursor: pointer;
  text-align: center;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  transition: background-color 0.3s ease;
  position: sticky;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);

  &:hover {
    background-color: #52722b;
  }
}
