@font-face {
    font-family: 'goorm-sans-bold';
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/2408@1.0/goorm-sans-bold.woff2') format('woff2');
    font-style: normal;
}

.pageBackground {
    background-color: #FFDE95;
    min-height: 100vh;
    padding: 20px;
}

.videoWrapper {
    border: 1px solid #ddd;
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    margin: 10px auto;
    width: 85%;
}

.sliderContainer {
    width: 100%;
    max-width: 85%;
    height: auto;
    margin: 0 auto;
    overflow: hidden;
    position: relative;
    margin-bottom: 10px;
}

.sliderContainer h1 {
    margin: 20px;
    padding: 20px;
    text-align: center;
    font-family: 'goorm-sans-bold', sans-serif;
    font-weight: 400;
    font-size: 40px;
}

.advancedSection {
    margin-bottom: 10px;
}

.centerModeSliderContainer {
    margin: 20px auto;
}

.navContainer {
    display: flex;
    width: 85%;
    justify-content: center;
    gap: 20px;
    padding: 50px 30px;
    border-radius: 5px;
    margin: 0 auto;
    font-family: 'goorm-sans-bold', sans-serif;
    font-weight: 400;

}

.navLink {
    color: #515354;
    text-align: center;
    padding: 10px 20px;
    border-radius: 5px;
    text-decoration: none;
    position: relative;
    transition: color 0.3s ease, background-color 0.3s ease;
    background-color: #ffffff;
    flex: 1;
}

.navLink:hover,
.navLink.active {
    color: #387F39;
    background-color: #FFDE95;
}

.slick-slide {
    padding: 0 10px;
}

.slick-track {
    display: flex;
}