// @font-face {
//   font-family: 'goorm-sans-bold';
//   src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/2408@1.0/goorm-sans-bold.woff2') format('woff2');
//   font-style: normal;
// }

.pageBackground {
    background-color: #FFDE95;
    background-size: cover;
    background-position: center;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.container {
    width: 100vw;
    display: flex;
    height: 90vh;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 30px;
}

.leftPane,
.rightPane {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    gap: 20px;
    width: 800px;
    height: 640px;
    //border: 1px solid #000000;
    background-color: transparent;
}

.rightPane {
    display: flex;
    flex-direction: row;
    gap: 20px;
    align-items: center;
}

.buttons {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 50px;
}

.button1 {
    font-weight: 700;
    width: 350px;
    height: 200px;
    font-size: 55px;
    font-weight: 700;
    padding: 8px;
    border: none;
    border-radius: 15px;
    cursor: pointer;
    background-color: #FFB1B1;
    background-image: url('../../../../public/Button1.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    color: #885d5d;
    transition: background-color 0.3s;
    display: flex;
    align-items: center;
    justify-content: center;
}

.button1:hover {
    background-color: #f88e8e;
}

.button2 {
        font-weight: 700;
    width: 350px;
        height: 200px;
        font-size: 55px;
        font-weight: 700;
        padding: 8px;
        border: none;
        border-radius: 15px;
        cursor: pointer;
        background-color: #FFB1B1;
        background-image: url('../../../../public/Button2.png');
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        color: #ffffff;
        transition: background-color 0.3s;
        display: flex;
        align-items: center;
        justify-content: center;
}

.button2:hover {
    background-color: #387F39; // 호버 시 배경색
}

.buttonContent {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 100%;
    height: 100%;
}

.calPane {
    width: 400px;
    height: 640px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 1px solid #ccc;
    background-color: transparent;
}