.container {
    width: 100vw;
    display: flex;
    height: 90vh;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 30px;
}

.leftPane,
.rightPane {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    gap: 20px;
    width: 800px;
    height: 640px;
    border: 1px solid #ccc;
    background-color: transparent;
}

.rightPane {
    display: flex;
    flex-direction: row;
    gap: 20px;
    align-items: center;
}

.buttons {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 50px;
}

.buttons button {
    width: 350px;
    height: 250px;
    font-size: 16px;
    padding: 8px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    background-color: #007bff;
    color: #fff;
    transition: background-color 0.3s;
}

.buttons button:hover {
    background-color: #0056b3;
}

.calPane {
    width: 400px;
    height: 640px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 1px solid #ccc;
    background-color: transparent;
}