.chatBox {
  position: absolute;
  border: 1px solid #ccc;
  background-color: white;
  z-index: 1000;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
  padding: 0px; 
  border-radius: 2px; 
  margin-top: 0px; /* 닉네임과 ChatBox 사이의 여백 */

}

.chatBoxContent {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.chatButton,
.friendButton {
  padding: 7px 20px;
  background-color: #f0f0f0;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s;
  width: 100%; 
  text-align: center;
}

.chatButton:hover,
.friendButton:hover {
  background-color: #d0d0d0;
}
